* {
  margin: 0 auto;
  padding: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: #302524;
  color: whitesmoke;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

div {
  background: #7b7473;
  padding: 2rem;
}

div#rate {
  text-align: center;
  padding: 1rem;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: #302524;
  background: #7b7473;
  margin: 0;
}
